<div class="modal-dialog modal-xs">
  <div class="modal-content" style="background:#fffeee;">
    <div class="modal-header">
       <div class="text-center"><h5>会計処理</h5></div>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>
       </div> <!-- header-->
       <div class="modal-body">
         <div class="text-center">
           <h4 style="color:blue">[合計金額]</h4>
           <h3 style="color:yellow;background:#000;text-align:right">{{money}}<span style="color:#fff;">円</span></h3>
           <form class="form-inline">
             <label>金額入力ください:</label>
             <input type="number" class="form-control" style="width:70%;" placeholder="お預かり金額入力ください"/><br><br>
             <div class="text-center">
               <button class="btn btn-primary">清算する</button>
             </div>
           </form>
           <%=%>
         </div>
       </div><!-- body -->
    
 </div> <!-- content-->
</div>  <!-- dialog-->