<div class="text-center tops_h1">
  <h1>買付係トップページ</h1>
</div>
<div style="border-top: 1px dotted #444"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 top-row">
    <%= link_to "注文依頼処理", check_orders_path,class:"btn btn-primary top-bt" %>
    <%= link_to "商品管理表", items_path,class:"btn btn-primary top-bt" %>
  </div>
</div>

