<div class="text-center calc_div">
  <h1>会計処理ページ</h1>
  <div style="border-top:1px dotted #c0c0c0"></div>
</div >


  <!-- 会計モーダル-->
    <%= render "form" %>
  <!-- /会計モーダル-->
     <div class="col-md-8 col-md-offset-2">  
       
        <table class="table calc-table">
         <td width=17%><h4 style="font-weight:bold;">小計:</h4></td>
         <td><div id="price-number" class="clac-number" style="text-align:right;">0円</div></td>
       </table> 


       <table class="table calc-table">
         <td width=17%><p>JAN:</p></td>
         <td><input type="number" class="form-control" id="phone-number"   onChange="addPCTableItem()"/></td>
       </table> 
       <div class="text-center">
          <label>
             <%= link_to "清算する",clear_moneys_path,remote:true, class:"btn btn-lg" ,style:"background:#2C7CFF;color:#fff;margin-left:5%;" %>
          </label>
       <div>
       <div style="border-top:2px dotted #d0d0d0;"></div>
      
       <table class="table table-bordered item-table" id="item-table" >
       <thead>
         <tr>
           <th width="35%;">商品名</th>
           <th>価格</th>
           <th width="10%;">個数</th>
           <th width=20%;>合計</th>
           <th width=10%>取り消し</th>
         </tr>
       </thead>
       <tbody id="tbody">
         
       </tbody>
     </table>
     </div>
<script>
  
  var number = document.getElementById('phone-number');
  var btn = document.getElementById('add-button');
  var tbody = document.getElementById('tbody');
  var table = document.getElementById('item-table');
  var priceLabel = document.getElementById('price-number');
  var count = 0;
  var price = 0;
  var beforePrice = 0; /*数値変更において前回の変更保持変数*/
  var uriage = document.getElementById('uriage');
  var array = [];

   if(count == 0){
          table.style.display = "none";
    }
    else{
      table.style.display = "table";
    }


  function addPCTableItem() {
    if(number.value == "") return;
    
    table.style.display = "table";
    $.ajax({
          url: 'https://young-castle-65049.herokuapp.com/sends/'+number.value,
          /*url: 'http://localhost:3000/sends/'+number.value,*/ 
          type: 'GET',
          dataType:'json',
        }).done(function(res){
        
         var tr = document.createElement('tr');
         tr.id = "tr"+count

         var td = document.createElement('td');
         td.textContent=res.name;


         var td2 = document.createElement('td');
         td2.textContent = res.baika;
         td2.style.color = "red";
         td2.id = "td"+count;

         var td3 = document.createElement('td');
         var number = document.createElement("input");
         number.type="number";
         number.min=1;
         number.step=1;
         number.className="form-control";
         number.id = "num"+count;
         number.value = 1;
         number.addEventListener('change',function(){
          
            var totalNumber = 0;   /*初期化*/
            totalNumber += Number(td2.textContent);
            price-=beforePrice;

             var inputNumber = number.value;
             var myid = number.id.split("num")[1]  /*id取得*/
             var objName= array[myid].name         /*商品名の保持*/
             array.splice(myid,1);                 /*一度配列から削除*/
             var td4 = document.getElementById("total"+myid);
           
             totalNumber *= Number(inputNumber);
             td4.textContent = totalNumber;      /*td4に代入*/
             beforePrice = totalNumber;
             price += totalNumber;
             priceLabel.textContent = price+"円";
             uriage.textContent = price+"円";
             array.push({name: objName, num: number.value,str:"cat"});/*配列に再配置*/
              
         });
         td3.appendChild(number);

         var td4 = document.createElement('td');
         td4.textContent = res.baika;
         td4.style.color = "red";
         td4.id = "total"+count;
         price += Number(td4.textContent);
         beforePrice = Number(td4.textContent); /*金額履歴所持*/
         priceLabel.textContent = price+"円";
         uriage.textContent = price+"円";
         



         var td5 = document.createElement('td');
         var deletebtn = document.createElement('button');
         deletebtn.textContent = "削除";
         deletebtn.id = count;
         deletebtn.className = "btn btn-danger";
         deletebtn.addEventListener('click',function(){
            var tr = document.getElementById('tr'+deletebtn.id);
            var deleteTd = document.getElementById("td"+deletebtn.id);
            price -= Number(deleteTd.textContent);
             priceLabel.textContent = price+"円";
            tbody.removeChild(tr);
         });
         td5.appendChild(deletebtn);

         tr.appendChild(td);
         tr.appendChild(td2);
         tr.appendChild(td3);
         tr.appendChild(td4);
         tr.appendChild(td5);
         tbody.appendChild(tr);
          count++;
          array.push({name: td.textContent, num: number.value,str:"cat"});
          
      });
     number.value = ""; /*jan入力エリア初期化*/
}
/*会計処理*/
function clearMoney() {
  
    var inputMoney = document.getElementById('input-money');
    var money = Number(inputMoney.value);
    var tsuri = money - price;
    if(tsuri >= 0){
       $.ajax({
         /*url: "http://localhost:3000/getMoney/"+money,*/
         url: "https://young-castle-65049.herokuapp.com/getMoney/"+money,
         type:"POST",
         data: {obj: array},
         dataType:"json",
         
       }).done(function(){
          
       });
      alert("ありがとございます。お釣りは"+String(tsuri)+"です。");
      $('#calc-modal').modal('hide');
      price = 0;
      number.value = "";
      priceLabel.textContent = price+"円"; /*会計ラベル初期化*/
      count = 0;            /*テーブルの初期化*/
      table.style.display = "none";
  
  
  
    }
    else alert("お金が足りません。");
    
  }
</script>  
