<table class="table table-bordered">
  <thead>
    <tr>
       <th class="th1">商品名</th>
       <th class="th2">JANコード</th>
       <th class="th3">発注数</th>
    </tr>
  </thead>
  <tbody>
    <%= render "orders/group/"+name %>
  </tbody>
</table>
<div style="border-bottom: 1px dotted black"></div>
<style>
  table th{background:#000; color:#fff}
  table td{background:#fff;}
  .th1{width:40%;}
  .th2{width:40%;}
</style>