<div class="text-center item_h1_index">
  <h1>商品管理表</h1>
</div>
<div style="border-top:1px dotted #a0a0a0"></div>
<!-- row -->
<div class="row">
  <!-- col -->
   <div class="col-md-9 col-md-offset-2 item_input_row">
     <div class="text-center"><h3>[一覧]</h3></div>
     <table class="table item_input_table">
       <th>商品名</th>
       <th>売価</th>
       <th>原価</th>
       <th>利益率</th>
       <th>在庫</th>
     </table>
   </div>
  <!-- col -->
</div>
<!-- row -->