@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

header{
  .navbar{background: #444;}
  .nav{
      margin-left: 30%;
      a{color: #fff;}
    }
    i.fa { 
      font-family:FontAwesome!important; 
  }
  

}
/*............................................................*/