// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items{
    background-color: #d0d0d0;
    .item_h1_index{color: navy;font-weight: bold;}
    .item_input_row{
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 2px 1px 3px 3px #888;
        padding: 20px 30px;
        margin-top: 4%;
    }
    .item_input_table{
        background-color: beige;
        th{background:#0f85e6;border-right: 0.5px dotted #fff;color: #fff;}
    }
    .modal-tv{
        th{background-color: #d0d0d0;color:brown;}
    }
    .stock_edit{
        display: none;
    }
    #bt_th{background-color: #d0d0d0;color: brown; border-radius: 6px; font-size: 6px;width: 100%;padding: 2px;}
    #bt_th2{background-color: #d0d0d0;color: brown; border-radius: 6px; font-size: 6px;width: 100%;padding: 2px;display: none;}
    #submit_bt{display: none;}
}