// Place all the styles related to the moneys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.moneys{
   
   background-color: #f0f0f0;
   .tops_h1{margin-top: 2%;}
   .top-row{
       background-color: #fff;
       border-radius: 9px;
       padding: 40px 10px;
       box-shadow: 2px 1px 3px 3px #d0d0d0;
       margin-top: 5%;
       .top-bt{width: 80%;margin:0 0 3% 10%; padding: 5% 0;font-size: 26px;}
   }
   .uriage_kanri_h1{
       color: darkgreen;
       font-size: 38px;
       margin-top: 5%;
   }
   .tv1{
       background: #fff;
       width: 80%;
       font-weight: bold;
       vertical-align: middle;
   }
   .tv2{
       background: #fff;
       width: 80%;
       th{background: blue; color:#fff; text-align: center;}
       td{text-align: center;}
   }
   /*........top.................................*/
   .outstock-p{color: red; font-size: 20px; margin-bottom: -10px;}
   .endsale-p{color: red; font-size: 20px; margin-bottom:-2%;}

   .request-p{color: blue; font-size: 20px; margin-bottom: -10px;}
   .request-count-p{color: red; font-size: 20px; margin-bottom:-2%;}
   .pc-link{display: block;}
   .phone-link{display: none;}
   /*..............会計処理......................*/
   .calc_div{
       margin-top: 6%;
       h1{
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           font-weight: bold;
           color: blue;
       }
   }
   .clac-number{
       background-color: #000;
       color: #fff000;
       font-size: 28px;
      
       padding: 1% 0;
       width: 100%;
       text-align: right;
   }
   
   .calc-table{
       margin:2% 0 2% 20%;
       background-color: #fffeee;
       border-radius: 8px;
       td{padding: 2% 2%;p{margin-top: 5px;font-weight: bold;}}
       width: 60%;
       .select{width: 75%;}
   }
   .item-table{
       background-color: #fff;
       margin-top: 1%;
       th{background: #3399FF;color: #ffe;}
   }
   
   @media screen and (max-width: 767px){
    .request-count-p{color: red; font-size: 10px; margin-bottom:-2%;}
    .col-md-10{
        width: 100%;
    }
    .tv2,.tv1{
        margin-left: 2%;
        width: 100%;
    }
    .uriage_kanri_h1{
        margin-top: 15%;
    }
    .tops_h1 h1{
        margin-top: 14%;
        font-size: 18px;
    }
   .pc-link{display:none;}
   .phone-link{display: block;}
    /*.....calc..........*/
  .clac-number{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;;
    }
  .calc-table{
    width: 100%;
    margin: 0;
    padding: 0;
    p{font-size: 2px;padding-right: -4px;}
    }
    
    /*........top.................................*/
    .outstock-p{color: red; font-size: 16px; margin-bottom:5% 0 -10px 0;}
    .endsale-p{color: red; font-size: 16px; margin-bottom:1%;margin-top: 2%;}
 } 
}
