// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders{
    background-color: #f0f0f0;
    table{
        margin-top: 3%;
        .item-th{vertical-align: middle;letter-spacing: 8px; font-size: 16px;}
        .item-th,.day-th{background:blue; color:#fff; text-align: center;border-right: 1px dotted #f0f0f0;border-bottom: 1px dotted #f0f0f0;}
        .day-th{padding: 1.5% 0;}
        .week-th{background:#005FFF; color:#fff; text-align: center;border-right: 1px dotted #f0f0f0;border-bottom: 1px dotted #f0f0f0;padding: 0.1% 0;}
        .item-td{
            border:1px solid #c0c0c0;padding:2% 0;
            .item-title{font-size: 24px;}
        }
        .item-order-number{border: 1px dotted #c0c0c0;text-align: center;font-weight: bold;}
        .item-order-status{padding: 0.5% 0;border: 1px dotted #c0c0c0;border-bottom:1px solid #c0c0c0 ;text-align: center;color: red;vertical-align: middle;font-weight: bold;}
        .item-order-number:last-child{border-right: 1px solid #c0c0c0;}
        .item-order-status:last-child{border-right: 1px solid #c0c0c0;}
        .status-info{background:blue;color: #fff;margin: 0;}
        .order-number-info{background:#b0b0b0;width:6%;border: 1px solid #a0a0a0;padding:2% 0;text-align: center;color:#000; font-weight: bold;}
        .order-info{background:#e0e0e0;width:6%;border: 1px solid #a0a0a0;padding:1% 0;text-align: center;color: #000; font-weight: bold;}
        .oder-number-link{font-size: 20px;text-decoration:underline;}
        
    }
    .modal_bt{padding: 4% 10%;margin-right: 2%;}
    .modal_bt2{padding: 4% 7.5%;}
    .week-table{
        margin-top: -2%;
        th{background: blue;color:#fff;text-align: center;}
    }
    .orderPaginate{margin-bottom: -1%;}
    /* 発注確認ページ　 */
    .order-check-h1{font-weight:bold;}
    .order-request-h4{font-weight: bold;color: #005FFF;margin-bottom: 2%;}
    .request-area{background:#a0a0a0;; padding: 10px 0; text-align: center; color:#fff;font-weight: bold;margin-bottom: 1px;}
    .request-table{
        display: none;
        border: 1px solid #d0d0d0;
        th{background: #005FFF;color:#fff;border-right: 1px dotted #fff;text-align: center;}
        .day_th{background: #b0b0b0;color:#000;font-weight: bold;}
        td{text-align: center;font-weight: bold;vertical-align: middle;background:#fff;color: black;}
        .item1{display: none;}
        
    }
    

    @media screen and (max-width:767px) {
        .item-title{font-size: 12px;}
        .modal_bt{padding: 4% 9%;margin-right: 2%;}
        .modal_bt2{padding: 4% 6.5%;}
    
    }
}